<section class="about container">
    <h1 class="text-center mb-5">About</h1>
    <p>
        Quastech Training & Business model reflects in-depth understanding of Software Industry & its need in the area of software & application development & testing.
We have the specialized and certified faculty for each content like Software Testing, Java Development, Python Development, Data Science, Digital Marketing, Robotic Process Automation, Web Designing and PHP MySQL etc. Our training is 100% based on current industry requirements and real-time projects. Apart from the technical knowledge, we believe in the overall growth of the candidates.
    </p>
    <p>
        Quastech Training & Business model reflects in-depth understanding of Software Industry & its need in the area of software & application development & testing.
We have the specialized and certified faculty for each content like Software Testing, Java Development, Python Development, Data Science, Digital Marketing, Robotic Process Automation, Web Designing and PHP MySQL etc. Our training is 100% based on current industry requirements and real-time projects. Apart from the technical knowledge, we believe in the overall growth of the candidates.
    </p>
    <p>
        Quastech Training & Business model reflects in-depth understanding of Software Industry & its need in the area of software & application development & testing.
We have the specialized and certified faculty for each content like Software Testing, Java Development, Python Development, Data Science, Digital Marketing, Robotic Process Automation, Web Designing and PHP MySQL etc. Our training is 100% based on current industry requirements and real-time projects. Apart from the technical knowledge, we believe in the overall growth of the candidates.
    </p>
    <div class="follow text-center">
        <h4>Follow Us</h4>
        <a href="#">Facebook</a>
        <a href="#">Youtube</a>
        <a href="#">Instagram</a>
        <a href="#">Twitter</a>
    </div>
</section>
